# TODO

Complete one task at time. Test, commit and mark as completed into this TODO.md with committed revision. This TODO.md is not part of repository and is not committed. Just to be kept up-to-date.

If item is too large to be completed at once, create necessary additional TODO-files starting with "TODO-" and reference them from this file.

Obey to AGENTS.md. Do not create user / developer facing documentation. You may maintain documentation for LLM agents, by keeping AGENTS.md up-to-date and both maintain and reference detailed development related documentation for LLM agents under ./agents or ./agents/adr (for Architecture Decision Records).

Do not chain shell commands with "&&".

## Tasks

* [ ] Replace with tasks
